rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // 1. User profile and monographs
    match /users/{userId} {
      allow read, write: if true;

      match /books/{bookId} {
        allow read, write: if true;
      }
    }

    // 2. Global fallback for application data
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
